html,
body {
  padding: 0;
  margin: 0;
  font-family: inherit;
  scroll-behavior: smooth;
}

table{
  width: 100%;
  border-collapse:collapse;
  border:1px solid #d8e2ff;
}
  
table td{
  padding: 8px;
  border:1px solid #d8e2ff;
}
table th{
  padding: 8px;
  border:1px solid #d8e2ff;
}
@media (prefers-color-scheme: dark) {
  a {
    color:#adc6ff;
  }
  table{
    border-color:#0f448e;
  }
    
  table td{
    border-color:#0f448e;
  }
  table th{
    border-color:#0f448e;
  }
}



dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  /* color: ; */
}
dt::after {
  margin: 0.4rem;
  content: "";
}


* {
  box-sizing: border-box;
}

.react-terminal-wrapper:before {
  background: unset !important;
}

mark.noogle-marker {
  /* :rgb(106, 213, 65); */
  color: inherit;
  background-color: #88DD67;
}


code  {
  /* padding: 0.3rem; */
  background-color: #f0f1f2;
}
pre {
  /* padding: 0.3rem; */
  background-color: #f0f1f2;
}
code.hljs  {
  background-color: #f0f1f2;
}

@media (prefers-color-scheme: dark) {
  code  {
    background-color: #0d1117;
  }
  pre {
    background-color: #0d1117;
  }
  code.hljs  {
    background-color: #0d1117;
  } 
}