html,
body {
  padding: 0;
  margin: 0;
  font-family: inherit;
  scroll-behavior: smooth;
}

table{
  width: 100%;
  border-collapse:collapse;
  border:1px solid var(--mui-palette-misc-tableBorder);
}
  
table td{
  padding: 8px;
  border:1px solid var(--mui-palette-misc-tableBorder);
}
table th{
  padding: 8px;
  border:1px solid var(--mui-palette-misc-tableBorder);
}

a {
  color: var(--mui-palette-misc-a);
}

.caution, .important, .note, .tip, .warning, .example {
  background-color: var(--mui-palette-fenced-bg);
  padding: 10px 15px; /* Top and bottom padding of 10px, left and right padding of 15px */
  margin: 15px 0; /* Vertical margins to separate the note from surrounding content */
  font-style: italic; /* Italic font style to indicate note text */
  /* color: #333; Dark grey color for the text for readability */
  font-family: Arial, sans-serif; /* A clean, readable font */
  border-radius: 4px; /* Slightly rounded corners for a modern look */
  border-left: 5px solid; /* Solid left border for distinction */
}

.caution::before, .important::before, .note::before, .tip::before, .warning::before, .example::before {
  font-weight: bold; /* Make the "Note: " prefix bold */
}



.note::before {
  content: "Note";
  color: var(--mui-palette-note-main);; 
}
.note {
  border-left-color: var(--mui-palette-note-main);
}


.example::before{
  /* content: "Example"; */
  color: #000405;
}
.example {
  border-left-color: var(--mui-palette-example-main);
}

.warning::before{
  content: "Warning";
  color: var(--mui-palette-warning-main);
}
.warning {
  border-left-color: var(--mui-palette-warning-main);
}

.caution::before{
  content: "Caution";
  color: var(--mui-palette-caution-main);
}
.caution {
  border-left-color: var(--mui-palette-caution-main);
}

.important::before{
  content: "Important";
  color: var(--mui-palette-important-main); 
}
.important {
  border-left-color: var(--mui-palette-important-main);
}


.tip::before{
  content: "Tip";
  color: var(--mui-palette-tip-main);
}
.tip {
  border-left-color: var(--mui-palette-tip-main);
}


a[data-autolinked] {
  text-decoration: none;
  color: inherit;
}
a[data-autolinked]::after {
  content: " #"; 
  font-size: smaller; 
  font-weight: lighter;
}

dt {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.react-terminal-wrapper:before {
  background: unset !important;
}

mark.noogle-marker {
  /* :rgb(106, 213, 65); */
  color: inherit;
  background-color: #88DD67;
}


code  {
  background-color: var(--mui-palette-code-bg);
}
pre {
  background-color: var(--mui-palette-code-bg);
}
code.hljs  {
  background-color: var(--mui-palette-code-dark);
} 