html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-terminal-wrapper:before {
  background: unset !important;
}

mark.noogle-marker {
  /* :rgb(106, 213, 65); */
  color: inherit;
  background-color: #88DD67;
}