source_up

files=(../../flake.nix flake-module.nix Cargo.lock)
if type nix_direnv_watch_file &>/dev/null; then
  nix_direnv_watch_file "${files[@]}"
else
  watch_file "${files[@]}"
fi

use flake .#pesto --builders ''
