name: "artifact-build"
on:
  push:
  pull_request:
    branches: [ "main" ]

env:
  cloudflare_project: noogle

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v16
      with:
        name: nix-community
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix build .#ui -L
    - name: Save output
      uses: actions/upload-artifact@v4
      with:
        path: ./result
